<br />
<br />
<br />
<div class="jumbotron">
  <h1>Bienvenue !</h1>
  <br />
  <br />
  <p class="lead">
    <i>Ceci est une application d'annuaire, créée avec Angular JS et utilisant les services REST et CRUD.</i>
  </p>
  <hr />
  <br />
  <p>Utilisez les onglets pour naviguer sur l'application.</p>
  <h3>Utilisateurs</h3>
  <p>
    Cliquez sur l'onglet "Utilisateurs" pour consulter la liste des utilisateurs.<br />
    Vous pouvez ici <strong>rechercher</strong>, <strong>mettre à jour</strong>, <strong>ajouter</strong> et <strong>supprimer</strong> des utilisateurs de la base de données.
  <br />
    Il vous est également possible de consulter les rôles des utilisateurs pour les projets qu'ils ont réalisés.
  </p>
<br />
  <h3>Projets</h3>
  <p>
    L'onglet "Projets" permet d'accéder à la liste des projets réalisés.<br />
    Il vous est possible de  <strong>rechercher</strong>, <strong>mettre à jour</strong>, <strong>ajouter</strong> et <strong>supprimer</strong> les projets. <br />
    De plus, vous pouvez accéder aux informations sur les utilisateurs ayant travaillés sur les projets.
  </p>
<br />
  <h3>Home</h3>
  <p>Pour revenir à tout moment à cette page.</p>
</div>
